.container {
    color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card {
    width: 100px;
    height: 120px;
    background-color: rgb(153, 56, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 36px;
}
h1{
    background-color: rgb(9, 22, 204);
}

.add-card{
    cursor: pointer;
    position: absolute;
    background-color: #57addf;
    bottom: 33px;
    right: 32px;
    border-radius: 50%;
    color: black;
    font-weight: bold;
    font-size: 80px;
    height: 90px;
    width: 90px;
}