.parcel-cache/
node_modules/
dist/
.vscode/
.eslintrc.cjs
videos/
shortcut_cmd.txt
cmd.txt
package.json
package-lock.json
apis.js
.gitignore/
ReactJSFreshStart/09megaBlog/.env
ReactJSFreshStart/10form/src/.env
.env
NodeJS/06_VidTube/.prettierignore
NodeJS/06_VidTube/.prettierrc
NodeJS/06_VidTube/.env.sample
