* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #f6f0eb;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration-line: none;
  color: inherit;
}
header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
}

nav {
  display: flex;
  /* gap: 60px; */
}
nav a {
  font-weight: 700;
  font-size: 20px;
  color: #492118;
}

/* means don't give 60px to 1st one */
nav a + a {
  margin-left: 60px;
}

logo {
  width: 40px;
}

logo img {
  width: 100%;
}
