* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #f6f0eb;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration-line: none;
  color: inherit;
}
header {
  background-color: #fff;
  padding: 24px 24px;
}

nav {
  display: flex;
  /* gap: 60px; */
}
.header-content {
  max-width: 1290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
nav a {
  font-weight: 700;
  font-size: 20px;
  color: #492118;
}

/* means don't give 60px to 1st one */
nav a + a {
  margin-left: 60px;
}

logo {
  width: 40px;
}

img {
  width: 100%;
}
.img-container {
  max-width: 1290px;
  margin: 0 auto;
}
.hero-section {
  margin-top: 100px;
}
main {
  padding: 0 24px;
}

.hero-section p {
  color: #492118;
  text-align: center;
  font-size: 24px;
}
.section {
  margin-top: 120px;
}
.section .img-container {
  max-width: 960px;
}

.section p {
  font-size: 48px;
  font-weight: 700;
  color: #492118;
  text-align: center;
}
.go-to-top {
  text-align: right;
  max-width: 960px;
  margin: 0 auto;
  font-size: 32px;
  margin-top: 80px;
}

.go-to-top a {
  text-decoration-line: underline;
}
.footer-text {
  text-align: center;
  color: #858585;
  font-size: 24px;
  margin-top: 64px;
}
.close-icon {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  display: none;
}
.hamburger-menu-container {
  /* overflow: hidden; */
  position: relative;
  /* width: 100px;
  height: 100px; */
}
.hamburger-menu {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -100px;
  right: -100px;
  background-color: #fff;
}
.hamburger-icon {
  font-size: 32px;
}
/* at max  of 1200px */
@media (max-width: 1200px) {
  nav a {
    font-size: 16px;
  }
  nav a + a {
    margin-left: 48px;
  }
  header {
    padding: 16px 24px;
  }
}
/* at max of 960px  */
@media (max-width: 960px) {
  nav a {
    font-size: 12px;
  }
  nav a + a {
    margin-left: 32px;
  }
  .hero-section {
    margin-top: 32px;
  }
  .section {
    margin-top: 42px;
  }
  .hero-section p {
    font-size: 10px;
  }
  .section p {
    font-size: 14px;
  }
}
/* for mobile devices at the max of 768px */
@media (max-width: 768px) {
  header {
    background-color: #f6f0ebb7;
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
  }
  nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    right: 24px;
    top: 24px;
    padding: 24px;
    display: none;
  }
  nav a + a {
    margin: 0 0;
    margin-top: 16px;
  }
  .close-icon {
    display: block;
  }
}
