* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}

#taskMgmtApp {
  position: relative;
  width: 100vw;
}

#heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
}

#form-container {
  position: absolute;
  left: 18%;
  top: 150px;
  width: 30%;
  height: 440px;
  background-color: #0f7a8f;
  color: #fff;
  border-radius: 15px;
}

#taskDetailsEntry {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#headingForForm {
  position: relative;
  text-align: center;
}

#taskDetailsEntry #title,
#taskDetailsEntry #description,
#taskDetailsEntry #dueDate,
#taskDetailsEntry #addTask {
  width: 250px;
  height: 40px;
}

#taskDetailsEntry #addTask {
  background-color: #279a16;
  border: none;
  color: #fff;
  font-size: 24px;
}

#task-container {
  position: absolute;
  right: 18%;
  top: 150px;
  width: 30%;
  height: 440px;
  background-color: #279a16;
  border-radius: 15px;
  padding: 20px;
  overflow-y: auto;
}
div {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #0ea158;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
}
div p,
div h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
