* {
  box-sizing: border-box;
}
body {
  background-color: #b9cfe8;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

main {
  padding: 0 16px 32px;
}
.title {
  font-size: 4rem; /* 64px */
  color: #48a300;
  text-align: center;
}

.title span {
  color: #61481c;
}

.app-container {
  background-color: #fbfbfb;
  max-width: 660px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 32px 48px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
}
.subtitle {
  font-size: 32px;
}
.sun-icon {
  vertical-align: middle;
  margin-left: 16px;
}
.progress-label {
  font-size: 14px;
  color: #858585;
  margin-bottom: 20px;
}
.progress-bar {
  height: 30px;
  background-color: #b9cfe8;
  border-radius: 15px;
}
.progress-value {
  height: 100%;
  width: 66.66%;
  background-color: #3bce42;
  border-radius: 15px;
  font-weight: 500;
  font-size: 10px;
  color: #eeeee8;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.error-label {
  font-size: 12px;
  color: red;
  margin-top: 8px;
  display: none;
}

.goal-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  /* padding: 40px 22px; */
  margin-bottom: 42px;
  margin-top: 40px;
}
.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.completed .check-icon {
  display: block;
}
.check-icon {
  display: none;
}
.goal-input {
  border: none;
  outline: none;
  padding-left: 22px;
  font-family: inherit;
  font-size: 16px;
  /* height: 100%; */
  align-self: stretch;
  /* flex-grow: 1; */
  width: 100%;
  font-weight: 500;
}
.goal-input::placeholder {
  color: #d9d9d9;
}
.quote {
  font-weight: 500;
  text-align: center;
}
.footer {
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #858585;
  margin-top: 64px;
}
.completed .custom-checkbox {
  background-color: #3bce42;
  border-color: #3bce42;
}
/* media query for mobile devices at the screen size of 768px */

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .app-container {
    padding: 16px 32px;
  }
  .goal-container {
    height: 64px;
    margin-bottom: 24px;
    border-radius: 12px;
  }
  .custom-checkbox {
    width: 20px;
    height: 20px;
  }
  .completed .goal-input {
    color: #48a300;
    text-decoration-line: line-through;
  }
  .footer {
    margin-top: 32px;
  }
}
