body {
  background: #decdac;
}
.popup {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 16px;
  position: fixed;
  /* inset: 0;
  margin: auto; */
  box-shadow: 0 6px 4px 2px rgba(0, 0, 0, 0.3);
  /* display: none; */
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
}
.popup.open {
  /* display: block; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.close-icon {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  right: 16px;
  cursor: pointer;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
