<form action="/store/favourites" method="POST">
  <button type="submit" class="bg-lime-300 p-2 hover:bg-lime-600 font-bold hover:cursor-pointer">
    Add to favourites
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>