* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}
.resultMainDiv {
  width: 100vw;
  height: 100vh;
}
.header {
  position: absolute;
  width: 70%;
  height: 200px;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
}
.header .quizTime {
  position: absolute;
  width: 222px;
  height: 92px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header .resultP {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: 600;
}
.resultBar {
  position: absolute;
  width: 70%;
  height: 200px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}
.resultBar .bar {
  position: absolute;
  width: 50%;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff7a7a;
  border-radius: 10px;
}
.resultBar .bar span {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #35bd3a;
  left: 0;
  border-radius: 10px;
}
.left-green {
  position: absolute;
  left: -25px;
  top: 30px;
}

.right-brown {
  position: absolute;
  right: -25px;
  top: 30px;
}
.score {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.yes-score {
  position: absolute;
  top: 105px;
  left: -20px;
  transform: translateX(-50%);
}
.no-score {
  position: absolute;
  top: 105px;
  right: -60px;
  transform: translateX(-50%);
}
.score-motivation {
  position: absolute;
  width: 70%;
  height: 48px;
  font-size: 32px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.retry-div {
  position: absolute;
  width: 216px;
  height: 61px;
  font-size: 26px;
  font-weight: 600;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #35bd3a;
  border-radius: 5px;
  box-shadow: 5px 3px #26a32a;
  border: 2px solid #2eb432;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share {
  position: absolute;
  width: 250px;
  height: 90px;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.share p {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 5px;
  font-size: 24px;
  font-weight: 600;
}
.share .img-list {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 40px;
  gap: 20px;
}
.resultFooter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
