* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #963535;
}

.form-div {
  position: absolute;
  width: 350px;
  height: 550px;
  background-color: #0baa95;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  position: absolute;
  width: 100%;
  line-height: 25px;
  top: 10px;
  color: #fff;
  font-weight: 400;
}
.welcome h1 {
  font-size: 24px;
  text-align: center;
}
.person-icon {
  position: absolute;
  width: 70px;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person-icon img {
  width: 50px;
  height: 50px;
}
.form-container {
  position: absolute;
  width: 320px;
  height: 200px;
  background-color: #fff;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
}
.form-container .id-container {
  position: absolute;
  width: 310px;
  background-color: aquamarine;
  top: 5%;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
}
.id-container input {
  position: absolute;
  width: 85%;
  height: 80%;
  left: 10px;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}
.id-container img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.form-container .password-container {
  position: absolute;
  width: 310px;
  background-color: rgb(140, 127, 255);
  top: 35%;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
}
.password-container input {
  position: absolute;
  width: 85%;
  height: 80%;
  left: 10px;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}

.password-container img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
