* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #963535;
}

.form-div {
  position: absolute;
  width: 350px;
  height: 550px;
  background-color: #0baa95;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  position: absolute;
  width: 100%;
  line-height: 25px;
  top: 10px;
  color: #fff;
  font-weight: 400;
}
.welcome h1 {
  font-size: 24px;
  text-align: center;
}
.person-icon {
  position: absolute;
  width: 70px;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person-icon img {
  width: 50px;
  height: 50px;
}
.form-container {
  position: absolute;
  width: 320px;
  height: 350px;
  background-color: #fff;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
}
.form-container .id-container {
  position: absolute;
  width: 310px;
  background-color: aquamarine;
  top: 5%;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
}
.id-container input {
  position: absolute;
  width: 85%;
  height: 80%;
  left: 10px;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}
.id-container img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.form-container .password-container {
  position: absolute;
  width: 310px;
  background-color: rgb(140, 127, 255);
  top: 25%;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
}
.password-container input {
  position: absolute;
  width: 85%;
  height: 80%;
  left: 10px;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}

.password-container img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.form-container .sign-forget {
  position: absolute;
  width: 310px;
  background-color: rgb(20, 179, 104);
  top: 45%;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
  font-size: 10px;
}

.sign-forget .sign-in {
  color: #fff;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1a1818;
}
.sign-in .checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e6e3e3;
}
.sign-in p {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.sign-forget .forget {
  color: #fff;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #c01919;
}
.forget .checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e6e3e3;
}
.forget p {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.form-container .button-container {
  position: absolute;
  width: 310px;
  background-color: rgb(20, 179, 104);
  top: 65%;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
  font-size: 10px;
  background-color: greenyellow;
}
.form-container .new-account {
  position: absolute;
  width: 310px;
  background-color: rgb(20, 179, 104);
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  text-align: center;
  background-color: rgb(85, 47, 255);
}
