* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
}

main {
  width: 100vw;
  height: 100vh;
}

/* *****************Initial style of form ************************ */

.form-div {
  position: absolute;
  width: 350px;
  height: 550px;
  background-color: #74b4ac;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form-div.close {
  display: none;
}

.welcome {
  position: absolute;
  width: 100%;
  line-height: 25px;
  top: 10px;
  color: #fff;
  font-weight: 400;
}
.welcome h1 {
  font-size: 24px;
  text-align: center;
}
.person-icon {
  position: absolute;
  width: 70px;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person-icon img {
  width: 50px;
  height: 50px;
}
.form-container {
  position: absolute;
  width: 320px;
  height: 350px;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
}
.form-container .id-container {
  position: absolute;
  width: 310px;
  top: 5%;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
}
.id-container input {
  position: absolute;
  width: 85%;
  height: 80%;
  left: 10px;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}
.id-container img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.form-container .password-container {
  position: absolute;
  width: 310px;
  background-color: #fff;
  top: 25%;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
  border-radius: 10px;
}
.password-container input {
  position: absolute;
  width: 85%;
  height: 80%;
  left: 10px;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}

.password-container img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.form-container .sign-forget {
  position: absolute;
  width: 310px;
  top: 45%;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
  font-size: 10px;
}

.sign-forget .sign-in {
  color: #fff;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
}
.sign-in .checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e6e3e3;
  cursor: pointer;
}
.sign-in p {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.sign-forget .forget {
  color: #fff;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}
.forget .checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e6e3e3;
  cursor: pointer;
}
.forget p {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.form-container .button-container {
  position: absolute;
  width: 310px;
  background-color: rgb(20, 179, 104);
  top: 65%;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
  font-size: 10px;
  background-color: #ed6478;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}
.button-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  outline: none;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.form-container .new-account {
  position: absolute;
  width: 310px;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

/* **************************************************************** */

.new_account_form {
  position: absolute;
  width: 400px;
  height: 300px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: none;
}

.new_account_form.open {
  display: block;
}
.new_account_heading {
  position: absolute;
  width: 100%;
  height: 36px;
  top: 20px;
  font-size: 28px;
  display: flex;
  justify-content: center;
}
.input_container {
  position: absolute;
  height: 150px;
  top: 22%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.input_container .username_id {
  position: absolute;
  width: 100%;
  top: 10px;
  border: none;
  outline: none;
  height: 50px;
  border-radius: 5px;
}
.input_container .password_new_account {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.button_div {
  position: absolute;
  height: 50px;
  bottom: 3%;
  font-size: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fc466b;
  color: #fff;
  cursor: pointer;
}
